{:deps {commons-io/commons-io {:mvn/version "2.19.0"}}
 :aliases
 ;; mcp server for claude desktop to run
 ;; see the claude-desktop/.config/Claude/claude_desktop_config.json
 ;; for claude's script that calls this
 {:mcp
  {:deps      {commons-io/commons-io   {:mvn/version "2.19.0"}
               org.slf4j/slf4j-nop     {:mvn/version "2.0.16"} ;; Required for stdio server
               com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                        :git/tag "v0.1.7-alpha"
                                        :git/sha "992fe5d"}}
   :exec-fn   clojure-mcp.main/start-mcp-server
   :exec-args {:port 7888}}

  ;; dual clojure and clojurescript
  :mcp-shadow-dual
  {:deps {org.slf4j/slf4j-nop {:mvn/version "2.0.16"} ;; Required for stdio server
          com.bhauman/clojure-mcp {:git/url "https://github.com/bhauman/clojure-mcp.git"
                                   :git/tag "v0.1.7-alpha"
                                   :git/sha "992fe5d"}}
   :exec-fn clojure-mcp.main-examples.shadow-main/start-mcp-server
   :exec-args {:port 8888 :shadow-port 8889 :shadow-build "app"}}}}
